<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-segment [(ngModel)]="segment" (ionChange)="filterThreads(segment)">
      <ion-segment-button value="notifications">
        Official
      </ion-segment-button>
      <ion-segment-button value="clubs">
        Clubs
      </ion-segment-button>      
      <ion-segment-button value="activities">
        Activities
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button *ngIf="!internetConnected" (click)="notify('Working offline..')">
        <ion-icon name="warning"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!--<ion-toolbar no-border-top>
      <ion-buttons end>
          <button ion-button *ngIf="!internetConnected" (click)="notify('Working offline..')">
            <ion-icon name="warning"></ion-icon>
          </button>
        </ion-buttons>
    <ion-searchbar primary [(ngModel)]="queryText" (ionInput)="searchThreads()" placeholder="Live search..">
    </ion-searchbar>
  </ion-toolbar>-->

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="reloadThreads($event)" *ngIf="segment=='all'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading">
    <ion-spinner style="display:block; margin:auto; color:blueviolet" icon="ripple"></ion-spinner>
  </div>

  <ion-list *ngIf="!loading">
    <forum-thread *ngFor="let thread of threads" [thread]="thread" (onViewComments)="viewComments($event)"></forum-thread>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchNextThreads($event)" threshold="10px" *ngIf="(start > 0) && (queryText.trim().length == 0) && segment=='all' && internetConnected">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer> 
  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="createThread()" *ngIf="internetConnected"><ion-icon name="add"></ion-icon></button>   
  </ion-fab>
</ion-footer>